<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    継続は人生を変える、英語日記アプリ
  </p>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>chatdiaryについて</h2>
    </div>
  </div>
</div>